*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
  }
  
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/pexels-thibault-trillet-167636.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 1.5rem;
  }

  .upcoming-title {
    color: whitesmoke; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 90px; 
    font-weight: bold; 
    text-transform: uppercase;
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
  }

  .section {
      height: fit-content;
      width: 90%;
      padding: 100px 0px 250px 130px;
      margin-left: 10px;
  }
  
  .container {
    width: 90%;
    height: fit-content;
    max-width: 98rem;
    padding: 5rem;
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.8rem;
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.5);
  }
  
  .event-image {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
  }
  
  .event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.8rem;
  }

  .event-info {
      height: 97%;
      width: 50%;
      margin-right: 25px;
  }

  .event-date span {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }

  .event-title {
      font-size: 2.5rem;
      margin: 1.5rem 0 2rem;
      text-transform: uppercase;
      color: #121C3F;
  }

  .event-description {
      margin-bottom: 3rem;
      font-size: 1.4rem;
      color: rgba(0, 0, 0, 0.7);
  }

  .event_cta {
      display: inline-block;
      padding: 1.5rem 3rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1.2rem;
      color: #fff;
      background: black;
      border-radius: 0.8rem;
      border: none;
  }

  @media screen and (max-width: 1515px){
    .section {
        width: fit-content;
        padding: 80px 0px 0px 90px;
    }
  }

  @media screen and (max-width: 1300px){
    .container {
        max-width: 80rem;
        padding: 2.5;
        flex-direction: column;
    }
    .upcoming-title {
        font-size: 70px;
    }
    .event-info {
        margin: 50px 50px;
        width: 90%;
    }
  }

  @media screen and (max-width: 1042px){
    .event-date span {
        font-size: 20px;
    }
  }

  @media screen and (max-width: 897px){
    .container {
        max-width: 70rem;
        padding: 2.5;
        flex-direction: column;
    }
    .upcoming-title {
        font-size: 70px;
    }
    .event-image {
        min-width: 30rem;
        max-width: 30rem;
        transform: translate(0, -8rem);
    }
    .event-info {
        margin-top: 0;
        padding: 0;
    }
    .section {
        padding: ;
    }
  }